:root {
  --black-color: #222222;
  --pink-color: #F1E4E6;
  --pink-dark-color: #F16D7F;
  --grey-color:#9F9F9F;
  --white-color:#FFFFFF;
  --semi-grey-color:#F8F8F8;
  --black-dark-color:#000000;
  --black-semi-color:#222224;
  --wite-2-color:#FBFBFB;
  --pink-form:#E05C6E;
  --white-form: #E1E1E1;
  --black-text-form:#222224; 
  --grey-text-meny: #6F6E6E;
  --pink-background-title:#F8F3F4;
  --grey-placeholder:#B1B1B1;
  --cart-text-color: #575757;
}

$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 375px;
